*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
/* header */
.header{
    display: flex;
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 60px;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}
.menu{
    display: flex;
    height: 100%;
    width: 500px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%;
    right: 30%;
    margin:  0 auto;

}
.menu__content{
    padding: 0 10px;
    font-size: 18px;
}
.menu__outlet{
    color: rgb(247, 4, 4);
}
.menu__outlet:hover,.menu__outfit:hover,.menu__tudo:hover{
    cursor: pointer;
}
.info{
    position: absolute;
    width: 300px;
    height: 80px;
    background-color: rgb(218, 210, 210);
    top: 60px;
    right: 75px;
    border: 1px solid none;
    border-radius: 5px;
    box-shadow: 0 0 4 0 rgb(31, 30, 30);
    display: none;

}
.info::before{
    content: "";
    width: 60px;
    right: 10px;
    height: 50px;
    position: absolute;
    top: -50px;

}
.info > .user ,.logout {
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.user::before{
    content: "";
    position: absolute;
    right: 16px;
    top: -30px;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent rgb(218, 210, 210) transparent;
}
.user::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logout::after{
    content: "";
    width: 100%;
    background-color: #000;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}
.user:hover ,.logout:hover{
    cursor: pointer;
}

.info  p { 
    padding-left: 15px;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo__title{
    font-size: 15px;
    margin-left:-45px
}
.logo__title::before{
    content: "";
    width: 263px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
}
.logo__title:hover{
    cursor: pointer;
}
.logo > img{
    height: 60px;
    padding: 10px 50px;
}
#back__icon{
    position: absolute;
    top: 18px;
    right: 157px;
    display: none;
}
#back__icon:hover{
    cursor: pointer;
}
.tool {
    height: 60px;
    padding: 12px 50px;
    display: flex;
}

.tool > span{
    font-size: 25px;
    padding: 5px 10px;
}

.tool > .search__icon:hover , .cart__icon:hover,.user__control:hover{ 
    cursor: pointer;
}
.user__control{
    margin: 5px 10px;
}
.user__control--show:hover .info{
    display: block;
}

.search { 
    position: absolute;
    right: 188px;
    top: 13px;
    border-radius: 15px;
    width: 250px;
    height: 35px;
    padding: 10px;
    animation: showSearch ease-in 0.2s;    
    display: none;
}
/* content */
.content{
   width: 100%;
   padding-top: 60px;
}
.content__heading{
    padding: 30px 130px;
    display: flex;
}
.clone{
    font-weight: bold;
}
.clone::before{
    content: "/";
    padding: 0 10px;
}
.content__heading > p:hover{
    cursor: pointer;
}
.main__item{
    position: relative;
   
}
.item__img{
    display: flex;
    width: 100%;
   justify-content: center;
   
}
.item__show , .main__item{
    width: 780px;
    height: 1000px;
}
.item__show > img{
    border-radius: 20px;
}
.item__show--on{
    display: block;
}

.main__item  img { 
    width: 100%;
    height: 100%;
}
.item__img__show{
    display: none;
}
.item__img__show--on{
    display: block;
}
.img__show{
    opacity: 0.3;
}
.img--click{
    opacity: 1;
}
.item__subshow{
    position: absolute;
    top: 0;
    left: 0;
}
.item__subshow img{
    
    width: 50px;
    height: 50px;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 15px;
    margin: 10px 30px;
}
.item__subshow img:hover{
    cursor: pointer;
    
}

.info_item{
    padding: 0 35px;
}
.produce__title{
    font-size: 32px;
    margin: 0 5px;
}
.review__rating{
     display: flex;
     align-items: center;
     font-size: 12px;
     padding: 5px ;
}
.review__rating > .icon{
    color: rgb(209, 0, 0);
    font-size: 14px;
}
.review__rating> .icon--white{
    font-size: 14px;
}
.review__rating--label{
    padding: 0 10px;
}
.price{
    display: flex;
    padding: 10px  5px;
    font-weight: bold;
}
.price > del{
    opacity: 0.4;
    padding: 0 10px;
}
.price > span{
    color: rgb(255, 0, 0);
}
.color{
    padding: 15px 5px;
}
.color > p {
    font-size: 14px;
}
.size{
    display: flex;
    padding: 10px 0;
    
}
.size__color{
    width: 60px;
    height: 30px;
    background-color: #000;
    border-radius: 20px;
    margin-right: 15px;
    
}
.size__color:hover{
    cursor: pointer;
}
.size > .green{
    background-color: #355372;
    border: 3px solid #000;
}
.size > .red{
    background-color: #0e0f15;
}
.size > .blue{
    background-color: #3f4d56;
}
.option__heading{
    display: flex;
    justify-content: space-between;
}
.option__heading > span {
    font-weight: bold;
}
.option__heading > a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 14px;
    font-weight: bold;
    opacity: 0.5;
}
.option__select {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 15px 0;
}
.select__size{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: #000;
    padding: 6px;
    opacity: 0.4;
}
.select__size:hover{
    cursor: pointer;
}
.option__select .size__30{
    opacity: 1;
}
.add__cart{
    display: flex;
    justify-content: space-between;
}
.add__cart > input{
    border-radius: 10px;
    text-align: center;
    width: 60px;
}
.add__to__cart{
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    display: flex;
    padding: 10px 30px;   
    align-items: center;
}
.add__to__cart > p{
    padding-left: 10px;
}
.add__to__cart:hover{
    color: #000;
    background-color: rgb(138, 136, 136);
    cursor: pointer;
}
/* footer */
.about__site{
    background-color: #000;
    width: 100%;
    height: 500px;
    color: #fff;
    justify-content: space-around;
    margin-top: 50px;
    display: flex;
    position: relative;
}
.site__heading{
    width: 330px;
    height: 100%;
    padding: 40px 20px;
}
.site__heading > h4 {
    font-size: 25px;
    padding-bottom: 20px;
}
.site__heading > p{
    opacity: 0.8;
    justify-content: center;
    padding-bottom: 20px;
    
}
.send__feedback{
    width: 120px;
    height: 40px;
    border-radius:15px;
    background-color: #b22d29;
    color: #fff;
    border: none;
    margin-bottom: 30px;
}
.send__feedback:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.footer__info{
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
}
.footer__info--title{
    padding: 0 15px;
}
.footer__info > span{
    padding-top: 8px;
}
.footer__contact{
    display: flex;
    justify-content: flex-start;
}
.facebook__contact{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding-top: 2px;
    font-size: 25px;
}
.facebook__contact:hover{
    background-color: rgb(194, 190, 190);
    cursor: pointer;
}
.youtube__contact{
    font-size: 30px;
    padding: 0 15px;
    
}
.youtube__contact:hover{

    cursor: pointer;
}
.site__content{
    width: 250px;
    height: 100%;
    padding: 40px 20px;
}
.site__content > h4{
    font-size: 25px;
    padding-bottom: 20px;
}
.site__content  .footer__address{
    font-size: 16px;
    padding: 30px 0;
    opacity: 0.8;
}
.about__site::before{
    content: "";
    width: 90%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.about__site::after{
    content: "@Copyright by Luu Xuan Chien ";
    width: 300px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}
